<h3>Sum of two Numbers</h3>
<p>First Number:
	<input type="number" ng-model="firstNumber" ng-model-options="{ debounce: 1000 }" ng-change="changeURL()" placeholder="enter first number"/>
</p>

<p>Second Number:
	<input type="number" ng-model="secondNumber" ng-model-options="{ debounce: 1000 }" ng-change="changeURL()" placeholder="enter second number"/>
</p>

<pk-sum  first="firstNumber" second="secondNumber"></pk-sum>

<div ng-controller="ConvertCurrency">
	<select ng-model = "rates">
		<option ng-repeat="(currency, value) in getCurrencies" value="{{value}}">{{currency}}</option>
	</select>

	 <span>Converter: {{(firstNumber + secondNumber) * rates || ''}}</span>
</div> 