<div class="wrapper">
	<h3>GP software.travel</h3>
	<p>First Number:
		<input type="number" id="firstNumber" ng-model="firstNumber" placeholder="enter number" ng-model-options="{ debounce: 1000 }"/>
	</p>
	<p>Second Number:
		<input type="number" id="secondNumber" ng-model="secondNumber" placeholder="enter number" ng-model-options="{ debounce: 1000 }"/>
	</p>
	<p>Sum total:
		<input type="text" value="{{result | currency : '€'}}">
	</p>
	<div ng-controller="ConvertCurrency">
		<select ng-model = "selectedCurrency" ng-options="v as k for (k, v) in selectCurrency"></select>
		<span>Converted: {{convertedCurrency}}</span>
	</div> 
</div>	